{% extends "error.html" %}

{% block content %}
    <div class="container mt-5">
        <div class="text-center">            
            <h1 class="mt-3">404 - Oops! You're Lost</h1>
            <p class="lead">Looks like you've ventured into uncharted territory!</p>
            <p class="mb-4">Don't worry, even the best pirates get lost. Follow the map and you might find the treasure!</p>
            <a href="{{ url_for('index') }}" class="btn btn-primary mt-3">Go Back to Safety</a>
        </div>
    </div>
    <div class="container mt-5">
        <div class="text-center">   
        <p class="mb-4">In the meantime, here's a picture of a robot.</p>
        <img src="https://robohash.org/sweet" alt="Robot Image" id='roboImage' style="display: hidden;">
        </div>
    </div>
    
    <script>
        function generateRandomString(length) {
            const characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
            let result = '';
            for (let i = 0; i < length; i++) {
                result += characters.charAt(Math.floor(Math.random() * characters.length));
            }
            return result;
        }
    
        // Get the link element by its ID
        var robotImage = document.getElementById('roboImage');
    
        // Generate a random string of length 6
        const randomString = generateRandomString(6);
    
        robotImage.src = `https://robohash.org/${randomString}`;
        robotImage.style.display = 'visible';  // Change 'visible' to 'block'
    </script>
    
{% endblock %}
